<h1>Welcome <%= current_firstname %>!</h1>

<br>
<%= render "articles_search_form" %>
<br>

<h3>Favorited Articles</h3>
<ul>
    <% current_user.articles.each do |article| %>
        <li><%= link_to article.title, article_path(article) %></li>
    <% end %>
</ul>

<h3>People I Follow</h3>
<ul>
  <% current_user.followees.each do |followee| %>
    <li><%= link_to followee.username, user_path(followee) %></li>
  <% end %>
</ul>
<br>
<%= button_to "Edit Profile", edit_user_path(current_user), "method" => :get %></br>
<%= button_to "Logout", logout_path, "method" => :delete %></br>
<%= button_to "DELETE User", current_user, "method" => :delete %>
