<h1>Welcome <%= current_firstname %>!</h1>

<% if @search.errors.any? %>
    <% @search.errors.full_messages.each do |msg| %>
        <%= msg %><br>
    <% end %>
    <br>
<% end %>

<%= render :partial => "users/articles_search_form" %>
<br>

<% if current_user.articles.count > 0 %>
    <h3>Favorited Articles</h3>
    <ul>
        <% current_user.articles.each do |article| %>
            <li><%= link_to article.title, article_path(article) %></li>
        <% end %>
    </ul>
<% end %>

<% if current_user.followees.count > 0 %>
    <h3>People I Follow</h3>
    <ul>
        <% current_user.followees.each do |followee| %>
            <li><%= link_to followee.username, user_path(followee) %></li>
        <% end %>
    </ul>
    <br>
<% end %>
