<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Welcome <%= current_firstname %></h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">The smart news hub for smart people.</h2>
      <a href="#about" class="btn btn-primary js-scroll-trigger">Start Searching</a>
    </div>
  </div>
</header>

<% if @search.errors.any? %>
    <% @search.errors.full_messages.each do |msg| %>
        <%= msg %><br>
    <% end %>
    <br>
<% end %>

<%= render :partial => "users/articles_search_form" %>
<br>

<!-- Favorited Articles Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Favorited Articles</h2>
        <% if current_user.articles.count > 0 %>
          <% current_user.articles.each do |article| %>
          <p class="text-white-50"><%= link_to article.title, article_path(article) %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- People I Follow Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">People I Follow</h2>
          <% if current_user.followees.count > 0 %>
          <% current_user.followees.each do |followee| %>
          <p class="text-white-50"><%= link_to followee.username, user_path(followee) %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
