<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h2 class="text-white mb-4">You are viewing the profile for</h2>
      <h1 class="mx-auto my-0"><%=@user.username%></h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <% if current_user.followees.include?(@user) %>
        <%= button_to "Unfollow User", '/follows/:id', "method" => :delete, params: {:follow => {followee_id: @user.id}}, class: "btn btn-primary" %>
      <% else %>
        <%= button_to "Follow User", '/follows', params: {:follow => {followee_id: @user.id}}, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</header>

<!-- Favorited Articles Section -->

<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Favorited Articles</h2>
          <%= form_tag(favorites_path) do %>
          <%= hidden_field_tag :id, @user.id %>
          <% @user.articles.each do |article| %>
          <div>
              <h4 mb-2 ><%= check_box_tag 'favorite[article_ids][]', article.id,
                  current_user.articles.include?(article) %>
              <a href="<%= article_path(article) %>" class="link-color"> <%= article.title %> </a></h4>
          </div>
          <% end %>
          <br>
          <br>
          <%= submit_tag "Update your favorited articles" %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</section>

<!-- People They Follow Section -->

<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">People <%= @user.username %> Follows</h2>
          <% @user.followees.each do |followee| %>
            <h4 mb-2><%= link_to followee.username, user_path(followee), class: "link-color" %></h4>
          <% end %>
          <br>
          <br>
          <br>
      </div>
    </div>
  </div>
</section>
