<!DOCTYPE html>
<html>
    <head>
        <title>Newsr</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <% if current_user %>
            <%= link_to "Homepage", root_path %>
            <%= link_to "Find Other Users", '/users/search' %>
            <%= link_to "Edit Profile", edit_user_path(current_user) %>
            <p>You are logged in as: <%= current_username %></p>
            <%= button_to "Logout", logout_path, "method" => :delete %>
        <% end %>
        <%= yield %>
    </body>
</html>
