<!DOCTYPE html>
<html>
  <head>
    <title>Newsr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <p><%= link_to "Homepage", root_path%> ***
        You are logged in as: <%= current_username %> <%= button_to "logout", logout_path, "method" => :delete %> ***
        <%= link_to "Find Other Users", '/users/search' %>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
